@{
    ViewData["Title"] = "All Teams";
    var teams = ViewData["teams"] as List<Team>;
}

<style>
  table, th, td {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
  }
</style>

<table>
  <tr>
    <th>ID</th>
    <th>CaptainID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Members</th>
  </tr>

  @foreach (var team in teams) {
    <tr>
      <td>@team.ID</td>
      <td>@team.CaptainID</td>
      <td>@team.Name</td>
      <td>@team.Description</td>
      <td>@team.MembersString</td>
    </tr>
  }
</table>
